/* FOOTER */

footer{
    #logo2 {
        display: block ;
        width: 65px;
       
    }
    background-color: #364552;
    color: white;
    margin: 0 auto;
    padding: 10px;
    text-align: end;

}

/* FIN FOOTER */